html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.media-body pb-3 mb-0 small lh-125 border-bottom border-gray {
  box-sizing: "none";

}


.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #007BFF; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 10px 20px;
  width: 100%;
  background: #007BFF;
  text-align: center;
}

.d-block text-gray-dark {
  padding: 10px;
}



.container .month {
  text-align:center
}







/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 0px;
  
}

/* Next button */
.month .next {
  float: right;
  padding-top: 0px;
}

table tr td.btn#Fri{
  background: rgb(243, 179, 3);
  border-color: #F8F9FA;
  position: absolute;
  left:20vw;

}

/* #28A745 */ 

table tr td .btn.btn-primary.sm-fri {
  background: #DC3545;
  color: white !important;
  padding: 0px;
  padding-left: relative;
  padding-right: relative;
  padding-top: 0px;
  height: 25px;
  width: 30px;
  border-color: #DC3545;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items:center;
  text-align: center;
  

} 

table tr td .btn.btn-primary.sm-nan {
  background: rgb(165, 165, 165);
  color: white !important;
  padding: 0px;
  padding-left: relative;
  padding-right: relative;
  padding-top: 0px;
  height: 25px;
  width: 30px;
  border-color: rgb(165, 165, 165);
  margin-top: 5px;
  margin-bottom: 5px;
  align-items:center;
  text-align: center;
  

} 

.btn.btn-warning.btn-sm {
  color: white !important;
  background: rgb(243, 179, 3);
  border-color: rgb(243, 179, 3);
  margin-right: 5px;
  font-size: small;
  width: 50px;
  text-align: center;
  padding-left: 5px;
}

.btn.btn-danger.btn-sm {
  margin-right: 5px;
  font-size: small;
  width: 50px;
  text-align: center;
  padding-left: 5px;
}

btn.btn-success.btn-sm.list{
  margin-right: 5px;
  font-size: small;
  width: 50px;
  text-align: center;
  padding-left: 5px;

}


table tr th.table-rowindex{
  height: 25px;
  padding-top: 10px;
}


.btn.btn-success.btn-sm.dropdown-toggle {
  border-color: #F8F9FA;
  background: rgb(0, 0, 0);
  color: white !important;
  font-weight: 900;
  margin:10px;
}


button .btn btn-primary {
  background: #28A745;
  color: white !important;
  padding: 5px;
  padding-left: 30px;
  width: 20px;
}

.calendar {
  padding-top: 20px;
}


.table table-hover table-sm  {
  text-align: center;
}








/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.action-buttons#TagVagt {
  top: 100px; 
}